{% extends "layout.html" %}
{% block content %}
    <h1>{{title}}</h1>
    Hello world!
    <p></p>
    <a href="/test">Go to Test</a>
    <p></p>
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">author</a>
            <small class="text-muted">date posted</small>
          </div>
          <h2><a class="article-title" href="#">post title</a></h2>
          <p class="article-content">POST CONTENT</p>
        </div>
      </article>
{% endblock content %}