{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">gTools - Pick your tool.</legend>
          <div class="form-group">
            {{ form.g_ios.label(class="form-control-label") }}
            {{ form.g_ios(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.ap_ports.label(class="form-control-label") }}
            {{ form.ap_ports(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.used_port_inventory.label(class="form-control-label") }}
            {{ form.used_port_inventory(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.garp.label(class="form-control-label") }}
            {{ form.garp(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.becu.label(class="form-control-label") }}
            {{ form.becu(class="form-control form-control-lg") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>

    <h1>{{title}}</h1>
    Hello world!
    <p></p>
    <a href="/about">About/Test</a>
    <p></p>

{% endblock content %}