{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset class="form-check">
          <legend class="border-bottom mb-4">gTools - Pick your tool.</legend>
          <div class="form-check">
            <ul class="list-unstyled">
            {% for choice in form.main_menu %}
              <li>
                {{ choice }} - 
                {{ choice.label }}
              </li>
            {% endfor %}
            </ul>
          </div>
        </fieldset>
        <div class="form-check">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>

{% endblock content %}